
body{
    font-family: sans-serif;
    background-image: url(../assets/images/bg-blue-technology-2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navegacion */


.header-top{
    display: flex;
    justify-content: space-between;
    background-color:mediumblue;
    align-items: center;
    min-height: 70px;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.logo-img{
    height: 90px;
    width: auto;
}



.nav{
    padding-right: 24px;
}
.nav-link {
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}


/* Banner */

.banner{
    width: 100%;
    height: auto;
}



/* Persona */
.persona{
    padding: 20px 0px 20px 0px;
    background-color: white;
}
.foto{
    height: 300px;
    width: auto;    
}


/* Educacion */

.edu-logo{
    height: 200px;
    width: auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.edu-tag{
    padding: 30px;
}


/* */

.text-center{
    text-align: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag{
    margin: 100px 0px 100px 0px;

    padding-top: 15px;
    padding-bottom: 40px;
    background-color: white;
}
.tag-close{
    margin: 100px 0px 20px 0px;

    padding-top: 15px;
    padding-bottom: 40px;
    background-color: white;
}


p{
    margin: 0px;
}

ul{
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

footer {
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
    font-size:medium;
    text-align: center;
    color: orangered;
    background-color:rgba(1, 0, 85, 0.952);
}



@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .logo{
        padding: 0px;
    }
    .nav{
        padding: 0px 0px 10px 0px;
    }

}